<app-header></app-header>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h2 class="text-blue h4">{{fr.btn_modification}} {{fr.nav_ActeurType}}</h2>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a [routerLink]="'/ListeDem'">{{fr.nav_Accueil}}</a>
                                </li>
                                <li class="breadcrumb-item text-blue " aria-current="page">
                                    {{fr.btn_modification}} {{fr.nav_ActeurType}}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="wizard-content">
                    <form [formGroup]="formEdit" *ngIf="actType" (submit)="update()" class="tab-wizard wizard-circle wizard">
                        <section [hidden]="isupdated">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-3 col-form-label">{{fr.chmp_DesignationComplete}} :&ensp;<span>*</span></label>
                                        <div class="col-sm-12 col-md-9">
                                            <input 
                                                name="acteurTypeDesignationComplete" required maxlength="45"
                                                [(ngModel)]="actType.acteurTypeDesignationComplete" type="text" class="form-control" 
                                                formControlName="acteurTypeDesignationComplete"
                                                [ngClass]="{ 'is-invalid': !isupdated && f['acteurTypeDesignationComplete'].errors }"/>
                                                <div *ngIf="!isupdated && f['acteurTypeDesignationComplete'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['acteurTypeDesignationComplete'].errors['required']">{{fr.chmp_obligatoir}} {{fr.chmp_Libelle}}</div>
                                                    
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-3 col-form-label">{{fr.chmp_DesignationCourte}} :&ensp;<span>*</span></label>
                                        <div class="col-sm-12 col-md-9">
                                            <input name="acteurTypeDesignationCourte"
                                                [(ngModel)]="actType.acteurTypeDesignationCourte" type="text" maxlength="45"
                                                class="form-control" 
                                                formControlName="acteurTypeDesignationCourte"
                                                [ngClass]="{ 'is-invalid': !isupdated && f['acteurTypeDesignationCourte'].errors }"/>
                                                <div *ngIf="!isupdated && f['acteurTypeDesignationCourte'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['acteurTypeDesignationCourte'].errors['required']">{{fr.chmp_obligatoir}} {{fr.chmp_Acronyme}}</div>
                                                    
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-3 col-form-label">{{fr.chmp_Description}} :</label>
                                        <div class="col-sm-12 col-md-9">
                                            <textarea class="form-control" maxlength="1000"
                                                name="acteurTypeDescription" [(ngModel)]="actType.acteurTypeDescription" 
                                                formControlName="acteurTypeDescription"
                                                [ngClass]="{ 'is-invalid': !isupdated && f['acteurTypeDescription'].errors }"></textarea>
                                                <div *ngIf="!isupdated && f['acteurTypeDescription'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['acteurTypeDescription'].errors['maxlength']">{{fr.maxlength}}</div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button [routerLink]="'/ListeAct'" [hidden]="isupdated" type="reset" class="btn btn-secondary">{{fr.btn_annulation}}</button>
                                <button style="margin-left: 10px;" type="submit" class="btn btn-warning "> {{fr.btn_modification}}</button>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>