<app-header></app-header>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h2 class="text-blue h4">{{fr.btn_ajout}} {{fr.nav_ActeurType}}</h2>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a [routerLink]="'/ListeDem'">{{fr.nav_Accueil}}</a>
                                </li>
                                <li class="breadcrumb-item text-blue " aria-current="page">
                                    {{fr.btn_ajout}} {{fr.nav_ActeurType}}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                
                <div class="wizard-content" style="margin-top: 50px;">
                    <form [formGroup]="form" (ngSubmit)="formSubmit()" class="tab-wizard wizard-circle wizard needs-validation novalidate">
                        
                            <div class="row" >
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-5 col-form-label ">{{fr.chmp_DesignationComplete}} :&ensp;<span> *</span></label>
                                        <div class="col-sm-12 col-md-7">
                                            <input  name="acteurTypeDesignationComplete" required maxlength="45"
                                                [(ngModel)]="actType.acteurTypeDesignationComplete"
                                                formControlName="acteurTypeDesignationComplete" 
                                                class="form-control controle"
                                                type="text" 
                                                [ngClass]="{ 'is-invalid': submitted && f['acteurTypeDesignationComplete'].errors }"
                                            />
                                            <div *ngIf="submitted && f['acteurTypeDesignationComplete'].errors" class="invalid-feedback">
                                                <div *ngIf="f['acteurTypeDesignationComplete'].errors['required']">{{fr.chmp_obligatoir}} {{fr.chmp_DesignationComplete}}</div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-4 col-form-label" >{{fr.chmp_DesignationCourte}} :&ensp;<span> * </span></label>
                                        <div class="col-sm-12 col-md-8">
                                            <input name="acteurTypeDesignationCourte" required maxlength="45"
                                                [(ngModel)]="actType.acteurTypeDesignationCourte" type="text"
                                                formControlName="acteurTypeDesignationCourte" 
                                                class="form-control" 
                                                [ngClass]="{ 'is-invalid': submitted && f['acteurTypeDesignationCourte'].errors }" 
                                            />
                                            <div *ngIf="submitted && f['acteurTypeDesignationCourte'].errors" class="invalid-feedback">
                                                <div *ngIf="f['acteurTypeDesignationCourte'].errors['required']">{{fr.chmp_obligatoir}} {{fr.chmp_DesignationCourte}}</div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-12 col-md-5 col-form-label">{{fr.chmp_Description}} :</label>
                                        <div class="col-sm-12 col-md-7" >
                                            <textarea  formControlName="acteurTypeDescription" maxlength="1000"
                                            style="width: 300px;"class="form-control" 
                                            name="acteurTypeDescription" [(ngModel)]="actType.acteurTypeDescription" 
                                            [ngClass]="{ 'is-invalid': submitted && f['acteurTypeDescription'].errors }"></textarea>
                                            <div *ngIf="submitted && f['acteurTypeDescription'].errors" class="invalid-feedback">
                                                <div *ngIf="f['acteurTypeDescription'].errors['maxlength']">{{fr.maxlength}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button  [routerLink]="'/ListeAct'" class="btn btn-secondary "> {{fr.btn_annulation}} </button>
                                <button style="margin-left: 10px;" type="submit" class="btn btn-success "> {{fr.btn_ajout}} </button>
                            </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>